.menu-nav_footer-container {
  background-color: var(--base-3);
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    width: 60%;
    height: 100%;
    margin: 0;
    & .menu-item {
      list-style: none;
      & a {
        color: var(--contrast);
      }
    }
  }
}
